*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera{
  display: grid;
  grid-template-columns: 0.7fr 2fr ; /*fr significa fraccion*/
  column-gap: 5px;/*column-gap es el espacio entre las columnas*/
  background-color: #1A3648;
  border: solid rgb(255, 255, 255);
  margin-right: 0.5em;
  margin:1em;
}
.logo {
  justify-self: end;
  width: 100px;
  margin-left: 10px;
  margin: 1.8em 0em 1em 0em;

}
.logo img{
  border-radius: 50%;
}
.titulo{
  justify-self: start;
  font-size: 50px;
  margin-top: 0.3em;
  padding: 1em;
  font-family: Verdana, sans-serif;
  color: azure;
}


main{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
    "main sidebar";
    column-gap: 100px;/*column-gap es el espacio entre las columnas*/
  margin:1em;
  }

.contenedorIzquierda{
  grid-area: main;
  border:solid black;
}
.usuario-div{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "foto"
  "boton1"
  "boton2"
  "boton3"
  "boton4"
}
.fotoUsuario{
  grid-area: foto;
  margin-top: 10px;
  justify-self: center;
}
.botonUsuario button {
  padding: 0.5em;
  background-color: rgb(215, 250, 235);
  border: solid rgb(1, 92, 22);
  text-align: center;
  font-size: x-large;
  cursor: pointer;
  margin-top:10px;
}
.uno{
  grid-area:boton1;
  justify-self: center;

}
.dos{
  grid-area:boton2;
  justify-self: center;
}
.tres{
  grid-area:boton3;
  justify-self: center;
  
}
.cuatro{
  grid-area:boton4;
  justify-self: center;
  
}


.contenedorDerecha{
  grid-area: sidebar;
  margin-right: 0.5em;
}

.operaciones-div{
  display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
  "qr boton";
}

.qr{
  grid-area: qr;
}

.boton{
grid-area: boton;
}
.boton button {
  padding: 1em;
  background-color: antiquewhite;
  border: solid gold;
  text-align: center;
  font-size: x-large;
  cursor: pointer;
  width: 100%;
  margin-top:10px
}

.quinto{
  padding: 1em;
  background-color: rgb(215, 250, 249);
  border: solid rgb(0, 146, 90);
  text-align: center;
  font-size: x-large;
  cursor: pointer;
  width: 100%;
}

footer{
  margin: 1em;
  grid-area: footer;
  text-align: center;
}


/* === Copyright === */
.copyright {
  margin-top: 30px;
  text-align: center;
  p,
  a {
    color: #828078;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.3s ease-out;
    a:hover {
      color: #f2672e;
    }
  }
}
